<h1>Burgers!</h1>

{{!-- 
 {{#each burger}}
 <ul>
     <li>{{this.burger_name}}</li>


 </ul>

  {{/each}} --}}

<table>
    <thead>
        <tr>
            <th><abbr title="id"></abbr>Number</abbr></th>
            <th><abbr title="burger">Burger</abbr></th>
            <th><abbr title="action">Action</abbr></th>
        </tr>
    </thead>
    <tbody>
        {{#each burger}}

        <tr data-id="{{id}}">
            <td>{{this.id}}</td>
            <td>{{this.burger_name}}</td>
            <td><button class="button" id="eatBurger" title="Eat">Eat burger!</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/burger/new"><button>Add a burger</button></a>
{{!-- ======= --}}